.post {
  padding: 0px 80px;

  img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid white;
  }
  .date-block {
    text-align: end;
    border-right: 1px solid black;
    height: 125px;
    margin-top: 30px;
    .year {
      color: rgb(121, 121, 121);
      font-weight: bold;
    }
    .date-time {
      color: black;
      font-weight: bold;
    }
    .weekday {
      color: rgb(83, 83, 83);
      font-weight: bold;
    }
  }
  h4 {
    font-weight: bold;
  }
}
