#gallery {
    .overlay {
        background: $primary;
        overflow: hidden;
        cursor: pointer;
      }
    img {
        transition: transform 0.8s, opacity 0.8s, filter 0.8s;
        opacity: 1;
        object-fit: cover;
        width: 100%;
    }
    h3 {
        text-align: center;
        font-weight: 400;
        transition: opacity 1s;
        position: absolute;
        color: white;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .overlay:hover {
        img {
            transform: scale(1.05);
            opacity: 0.7;
            filter: saturate(120%);
        }
        h3 {
            opacity: 1;
        }
    }
    @media screen and (min-width: 1024px) {
        img {
            height: 220px;
        }
      }
}

