.header {
  background-color: white;
  align-items: center;
  .overlay {
    background: $primary;
    overflow: hidden;
  }
  img {
    width: 100%;
    opacity: 0.65;
    object-fit: cover;
  }
  .content {
  
    height: 100%;
    h1 {
      font-size: 3rem;
    }
    h4 {
      font-weight: 400;
      color: rgb(39, 43, 48);
    }
    padding: 20px 0;
    text-align: center;
    font-weight: 400;
    width: 100%;
    color: rgb(39, 43, 48);  }
}

#btn-sign-up {
  font-size: 1.5rem;
  font-weight: 400;
  border-width: 2px;
  font-weight: bold;
}

@media screen and (min-width: 1240px) {
  .text {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

