.header {
  background-color: white;
  
  .overlay {
    background: rgb(81, 35, 100);
    overflow: hidden;
  }
  img {
    width: 100%;
    opacity: 0.7;
    object-fit: cover;
  }
  .content {
    h1 {
      font-size: 3rem;
    }
    h4 {
      font-weight: 400;
      color: rgb(39, 43, 48);
    }
    padding: 100px 0;
    margin: auto;
    text-align: center;
    font-weight: 400;
    width: 100%;
    color: rgb(39, 43, 48);  }
}

#btn-sign-up {
  font-size: 1.5rem;
  font-weight: 400;
  border-width: 2px;
  font-weight: bold;
}

