.header {
  background-color: rgba(255, 255, 255, 0.315);
  .overlay {
    background: $primary;
    overflow: hidden;
  }
  img {
    width: 100%;
    opacity: 0.7;
    height: 420px;
    object-fit: cover;
  }
  .content {
    text-align: center;
    margin: auto;
    padding-top: 100px;
    width: 50%;
    h1 {
      font-size: 3em;
    }
    color: rgb(0, 0, 0);
  }
}

#btn-sign-up {
  font-size: 1.5em;
  border-width: 2px;
  font-weight: bold;
}
