.section {
  text-align: center;
  img {
    background-color: red;
    width: 220px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
    height: 220px;
    border-radius: 50%;
    border: 2px solid white;
  }
  h4 {
    margin-top: 1em;
    font-weight: bold;
  }
}

@media screen and (min-width: 1024px) {
  .section {
    text-align: start;
    h4 {
      margin-top: 0;
    }
  }
}
