.section {
  text-align: center;
  img {
    background-color: red;
    width: 220px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
  
    width: 400px;
    border-radius: 50%;
    border: 2px solid white;
  }
  h4 {
    margin-top: 1em;
    font-weight: bold;
  }
}

@media screen and (min-width: 992px) {

  .section {
    img {
      width: 100%;
    }
    text-align: start;
    h4 {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 1400px) {

  .section {
    img {
      width: 90%;
    }
    text-align: start;
    h4 {
      margin-top: 0;
    }
  }
}
