doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Team 61 | About
body
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top.shadow-lg
    .container
      a.navbar-brand(href="index.html").d-flex
        img(src="../images/logo.png")
        h2 Team 61
      button#nav-toggle-btn.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="index.html") Home
              .hover-border
          li.nav-item
            a.nav-link(href="about.html").active About
              .hover-border
          li.nav-item
            a.nav-link(href="updates.html") Updates
              .hover-border
          li.nav-item
            a.nav-link(href="pictures.html") Pictures
              .hover-border
          li.nav-item
            a.nav-link(href="https://mandrillapp.com/track/click/31026808/www.countrymeats.com?p=eyJzIjoiUmJtc09tV2NTX1hSNThRb2FMRF9vMnlIc2ZRIiwidiI6MSwicCI6IntcInVcIjozMTAyNjgwOCxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5jb3VudHJ5bWVhdHMuY29tXFxcL2Z1bmRyYWlzZXJcXFwvYmxhY2tzdG9uZS12YWxsZXktcmVnaW9uYWwtaC1zLVwiLFwiaWRcIjpcImZkNWVkZGYzNGNhZDQ2YTVhMjNiYThhYzBiOTdlOTk3XCIsXCJ1cmxfaWRzXCI6W1wiMzE4YTM1NDdjOGNjOTZjMzkwYzczMWQ5NGIwMDBkNDQyZDg5MTIyNlwiXX0ifQ" target="blank") Meatsticks
              .hover-border
  .container-fluid.navbar-margin
    .row
      .col-lg-8.m-auto
        .container-fluid
          .page.shadow-lg
            .row.justify-content-center
              .col-md-10.p-5
                h1.text-center Our Mission
                .line.mx-auto
                p.mt-3.text-center
                    | To order to positively influence and inspire our community, peers,
                    | and younger students, as well as teach them about the impact their
                    | work could have on the future, BVT Robotics plans to spread our
                    | knowledge about science, engineering, and technology to through
                    | exciting mentor-based programs and foster well-rounded life
                    | capabilities including self-confidence, interpersonal communication
                    | skills, and leadership development.
.loader-wrapper
  span.loader
    span.loader-inner
      
    
