.container-fluid
    .page.shadow.pb-5.mb-5.pl-4.pr-4
        .row 
            .col.col-12
                h1.text-center.pt-5 Announcements
                .line.mx-auto
                h6.text-center.mt-2.date Last Updated: 11/8/2020
        .row.justify-content-center.mt-5.section
            .col.col-xs-12.col-sm-12.col-md-12.col-xl-3
                img(src="../images/meeting.jpg").shadow
            .col.col-xs-12.col-sm-12.col-md-12.col-xl-9
                .p-3
                    h4 Robotics Zoom Meeting | Wednesdays at 1-2 PM
                    p
                        | Attention all students! BVT’s Team 61 Robotics Club is excited to announce the start of their season! If you are interested in 
                        | joining the club, there will be an informational Zoom meeting on Wednesdays at 1:00 pm. Students from all shops and grades are welcome
                        | to participate, so please don’t hesitate to reach out to Mr. Norton, Ms. Ledoux, or any of the other robotics advisors with questions.
                        | Hope to see you there! 
                    
                    a(target="_blank" href="https://us02web.zoom.us/j/87844926249?pwd=OVhaMGc4cFF1aHZwSTIxeVhaT29tZz09&from=addon").font-weight-bold Join zoom meeting
        .row.justify-content-center.mt-5.section
            .col.col-xs-12.col-sm-12.col-md-12.col-xl-3
                img(src="../images/robot.jpg").shadow
            .col.col-xs-12.col-sm-12.col-md-12.col-xl-9
                .p-3
                    h4 Enter school Wednesday Signup (11/18/2020 | 9-11 AM)
                    p
                        | Due to the pandemic, we have to limit our contact with eachother and comply to social distancing rules.
                        | The school only allows a maximum of 10 people to be brought in for robotics. We will take full advantage of that rule
                        | so if you want to come in to have a hands on experience with robotics, please sign up.
                    
                    a(target="_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=5ZZ7pcwnuk6gCaZnbYRgkryBno2G4PpIrx8KqIhuABJURUdSWjRLSU8xOE1KWTI3NVBPTzJaS0JJSS4u").font-weight-bold Sign up to enter the school on Wednesday
        .row.justify-content-center.mt-5.section
            .col.col-xs-12.col-sm-12.col-md-12.col-xl-3
                img(src="../images/event.jpg").shadow
            .col.col-xs-12.col-sm-12.col-md-12.col-xl-9
                .p-3
                    h4 Why join Robotics?
                    p
                        | We do so much more than just the engineering of the robot. We also have activities for photography, digital art, business, and programming. Whether you want to know what it's like to work on an ambitious engineering project, program a website or even a robot, or help your local community, then robotics is the club for you.
        .row.justify-content-center.mt-5.section
            .col.col-xs-12.col-sm-12.col-md-12.col-xl-3
                img(src="../images/meatsticks.jpg").shadow
            .col.col-xs-12.col-sm-12.col-md-12.col-xl-9
                .p-3
                    h4 Meatsticks
                    p
                        | Due to COVID 19 pandemic, the club has adapted to allow meat sticks to be purchased and shipped online. 
                        | This way, no human contact is necessary and a plus of being able to order them in the comfort of your own home. 
                        | A portion of the sales of meat sticks goes to the robotics club so it helps a ton to order some.
                    
                    a(target="_blank" href="https://mandrillapp.com/track/click/31026808/www.countrymeats.com?p=eyJzIjoiUmJtc09tV2NTX1hSNThRb2FMRF9vMnlIc2ZRIiwidiI6MSwicCI6IntcInVcIjozMTAyNjgwOCxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5jb3VudHJ5bWVhdHMuY29tXFxcL2Z1bmRyYWlzZXJcXFwvYmxhY2tzdG9uZS12YWxsZXktcmVnaW9uYWwtaC1zLVwiLFwiaWRcIjpcImZkNWVkZGYzNGNhZDQ2YTVhMjNiYThhYzBiOTdlOTk3XCIsXCJ1cmxfaWRzXCI6W1wiMzE4YTM1NDdjOGNjOTZjMzkwYzczMWQ5NGIwMDBkNDQyZDg5MTIyNlwiXX0ifQ").font-weight-bold Order Meatsticks here