.container-fluid
          .page.shadow.pb-5.mb-5
            h1.text-center.pt-5 Announcements
            .line.mx-auto
            h6.text-center.mt-2.date Last Updated: 10/23/2020
            .row.justify-content-center.mt-4.section
                .col-lg-3
                    img(src="../images/meeting.jpg").shadow
                .col-lg-9
                    .ml-4.p-3
                        h4 Informational Zoom Meeting
                        p
                            | Attention all students! BVT’s Team 61 Robotics Club is excited to announce the start of their season! If you are interested in 
                            | joining the club, there will be an informational Zoom meeting next Wednesday at 2:00 pm. Students from all shops and grades are welcome
                            | to participate, so please don’t hesitate to reach out to Mr. Norton, Ms. Ledoux, or any of the other robotics advisors with questions.
                            | Hope to see you there! 
                        
                        a(target="_blank" href="https://us02web.zoom.us/j/83991938767?pwd=cG9iSXBCSVBBanNqY3gvQUdxZ1dOQT09").font-weight-bold Join zoom meeting 
            .row.justify-content-center.mt-5.section
                .col-lg-3
                    img(src="../images/robot.jpg").shadow
                .col-lg-9
                    .ml-4.p-3
                        h4 About Robotics
                        p
                            | We do so much more than just the engineering of the robot. We also have activities for photography, digital art, business, and programming. Whether you want to know what it's like to work on an ambitious engineering project, program a website or even a robot, or help your local community, then robotics is the club for you.