doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Team 61 | Blog
body
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top.shadow-lg
    .container
      a.navbar-brand(href="about.html").d-flex
        img(src="../images/logo.png")
        h2 Team 61
      button#nav-toggle-btn.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
            li.nav-item
                a.nav-link(href="index.html") Home
                .hover-border
            li.nav-item
                a.nav-link(href="about.html") About
                .hover-border
            li.nav-item
                a.nav-link(href="news.html") News
                .hover-border
            li.nav-item
                a.nav-link(href="blog.html").active Blog
                .hover-border
   
  .container-fluid.navbar-margin
    .page.shadow-lg
        h1.text-center Blog Posts
        .line.mx-auto
        h6.text-center.mt-2.date Last Updated: 9/20/2020
        .post
            .row.justify-content-center.mt-4
                .col-3.date-block
                    h3.year 2020
                    h2.date-time Sep 20
                    h4.weekday Sunday
                .col-9
                    .ml-4.p-3
                        h4 First Updates
                        p
                            | Since last's year competition was canceled due to coronavirus, FIRST organizers decided to
                            | make next year's competition the same one but with a twist. What this means for us is that throughout the
                            | fall and first half of winter, we
                            | will be improving the robot any way we can.  
.loader-wrapper
  span.loader
    span.loader-inner
  