doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  meta(name="description" content="Welcome! We are team 61, a FIRST robotics team held at Blackstone Valley Regional Vocational Technical Highschool. We strive to teach students and our community the power and fun of STEM.")
  title Team 61 | Home
body
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top.shadow-lg
    .container
      a.navbar-brand(href="index.html").d-flex
        img(src="../images/logo.png")
        h2 Team 61
      button#nav-toggle-btn.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href="index.html").active Home
                .hover-border
            li.nav-item
              a.nav-link(href="about.html") About
                .hover-border
            li.nav-item
              a.nav-link(href="updates.html") Updates
                .hover-border
            li.nav-item
              a.nav-link(href="pictures.html") Pictures
                .hover-border
            li.nav-item
              a.nav-link(href="fundraising.html") Fundraising
                .hover-border
  .container-fluid.navbar-margin
    .row
      .col.col-lg-8.m-auto
        .container-fluid.mb-5
          .row.mt-3
            .col-12
              .container-fluid.header.p-0.shadow
                .row
                  .col.col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-6
                    .overlay
                      img(src="../images/event.jpg")
                  .col.col-xs-12.col-sm-12.col-md-12.col-lg-12.col-xl-6
                    .content
                      .text
                        h1 Join Robotics!
                        h4.mt-3 And let us shoot
                        h4 for the stars together
                        a#btn-sign-up.btn.btn-outline-primary.mt-4(href="https://forms.office.com/Pages/ResponsePage.aspx?id=5ZZ7pcwnuk6gCaZnbYRgkryBno2G4PpIrx8KqIhuABJUQUwzTEZUVk5OUUs0N0dMSjg1RDhWNDVJVC4u" target="_blank") Sign Up
        
        include announcements.pug
  .loader-wrapper
    span.loader
      span.loader-inner
