doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Team 61 | About
body
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top.shadow-lg
    .container
      a.navbar-brand(href="index.html").d-flex
        img(src="../images/logo.png")
        h2 Team 61
      button#nav-toggle-btn.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="index.html") Home
              .hover-border
          li.nav-item
            a.nav-link(href="about.html") About
              .hover-border
          li.nav-item
            a.nav-link(href="updates.html") Updates
              .hover-border
          li.nav-item
            a.nav-link(href="resources.html").active Resources
                .hover-border
          li.nav-item
            a.nav-link(href="pictures.html") Pictures
              .hover-border
          li.nav-item
            a.nav-link(href="fundraising.html") Fundraising
              .hover-border
  .container-fluid.navbar-margin.mb-5
    .row
      .col-lg-8.m-auto
        .container-fluid
          .page.shadow-lg
            .row.justify-content-center
              .col-md-10.p-5
                h1.text-center Resources
                .line.mx-auto
                h4.mt-3 General
                ul
                    li 
                        a(href="https://www.firstinspires.org/" target="_blank") FIRST Website
                    li 
                        a(href="https://www.chiefdelphi.com/" target="_blank") Cheif Delphi (FIRST Forum)
                    li 
                        a(href="https://www.vexrobotics.com/" target="_blank") VEX Website
                    li 
                        a(href="https://www.vexforum.com/" target="_blank") VEX Forum
                    li 
                        a(href="https://www.thebluealliance.com/" target="_blank") Blue Alliance (Scouting)
                h4.mt-3 Mechanical
                ul
                    li 
                        a(href="https://www.youtube.com/playlist?list=PL-ptF2slHtJDXMTniyuBgISdbRjVq_yjQ" target="_blank") Autodesk Inventor basics tutorials
                    li 
                        a(href="https://www.autodesk.com/education/edu-software/overview?sorting=featured&page=1" target="_blank") Download Autodesk education software (free for students)
                    li 
                        a(href="https://www.firstinspires.org/resource-library/frc/mechanical-resources" target="_blank") Basic robot systems resources
                    li 
                        a(href="https://www.andymark.com/" target="_blank") Supplier for FIRST Robotics parts
                    li 
                        a(href="https://www.mcmaster.com/" target="_blank") Basic parts (screws, bearings, etc.) Documentation and 3d models
                    li 
                        a(href="https://robotics.nasa.gov/frc-resources/" target="_blank") List of team, company, and other miscellaneous resources
                h4.mt-3 Programming
                ul
                    li 
                        a(href="https://docs.wpilib.org/en/stable/" target="_blank") Robot WPILib Documentation
                    li 
                        a(href="https://github.com/team61" target="_blank") Team 61 Github organization
                    li 
                        a(href="https://www.codecademy.com/learn/learn-java" target="_blank") Learn basic Java (recommended for beginners)
                    li 
                        a(href="https://www.w3schools.com/" target="_blank") Learn basic Webdesign
                    li 
                        a(href="https://www.tutorialspoint.com/java/index.htm" target="_blank") Learn advanced and basic Java
                    li 
                        a(href="https://first.wpi.edu/FRC/roborio/release/docs/java/index.html" target="_blank") WPILib Java API Docs
                    li 
                        a(href="https://first.wpi.edu/FRC/roborio/release/docs/cpp/index.html" target="_blank") WPILib C++ API Docs
              
.loader-wrapper
  span.loader
    span.loader-inner
      
    
