doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel="icon" href="../images/logo.png")
  title Team 61 | News
body
  nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top.shadow-lg
    .container
      a.navbar-brand(href="about.html").d-flex
        img(src="../images/logo.png")
        h2 Team 61
      button#nav-toggle-btn.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="index.html") Home
              .hover-border
          li.nav-item
            a.nav-link(href="about.html") About
              .hover-border
          li.nav-item
            a.nav-link(href="updates.html").active Updates
              .hover-border
          li.nav-item
            a.nav-link(href="pictures.html") Pictures
              .hover-border
          li.nav-item
            a.nav-link(href="https://mandrillapp.com/track/click/31026808/www.countrymeats.com?p=eyJzIjoiUmJtc09tV2NTX1hSNThRb2FMRF9vMnlIc2ZRIiwidiI6MSwicCI6IntcInVcIjozMTAyNjgwOCxcInZcIjoxLFwidXJsXCI6XCJodHRwczpcXFwvXFxcL3d3dy5jb3VudHJ5bWVhdHMuY29tXFxcL2Z1bmRyYWlzZXJcXFwvYmxhY2tzdG9uZS12YWxsZXktcmVnaW9uYWwtaC1zLVwiLFwiaWRcIjpcImZkNWVkZGYzNGNhZDQ2YTVhMjNiYThhYzBiOTdlOTk3XCIsXCJ1cmxfaWRzXCI6W1wiMzE4YTM1NDdjOGNjOTZjMzkwYzczMWQ5NGIwMDBkNDQyZDg5MTIyNlwiXX0ifQ" target="blank") Meatsticks
              .hover-border
  .container-fluid.navbar-margin
    .row
      .col-lg-8.m-auto
        include announcements.pug
  .loader-wrapper
      span.loader
          span.loader-inner
  